.filter-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #545454;
  position: absolute;
  top: 0px;
  left: 20px;
  transition: all .2s ease-in-out;
}

.rotation {
  position: absolute;
  top: 90px;
  left: -10px;
  transform: rotate(-90deg);
  transition: all .2s ease-in-out;
}

.clear-all {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #FA2F2F;

  /* margin-right: 10px; */
  cursor: pointer;
  position: absolute;
  right: 35px;
}

.clear {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */


  color: #A4A4A4;
  cursor: pointer;
}

.sidebar-toggler {
  position: absolute;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.sidebar-toggler .bg-icon {
  width: 33px;
  height: 33px;

  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sidebar .ant-form-item {
  margin-bottom: 40px;
}

.sidebar :where(.css-dev-only-do-not-override-diro6f).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.sidebar .search-input {
  border: none;
  border-bottom: 2px solid #434343;
  border-radius: 0;
}


.header-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-sort {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-width: 30%;
}

.header-sort .ant-form-item {
  margin-bottom: 0;
}

.header-sort .ant-select-selector {
  background: transparent;
}

.order-by {
  margin-left: 2rem;
}

.job-card-title {
  color: #CB0000;
  margin: 0
}



.number-applicants {
  font-family: 'Roboto Condensed' !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #8B8B8B;

}

.card-info-label span {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #CB0000;
}

.card-info-value {
  margin-top: .4rem;
}

.card-info-value span {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #434343;
}

.card-footer {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.card-footer svg {
  fill: #CB0000;
  font-size: 20px;
  /* margin-top: 2px; */
  margin-right: 0.8rem;
}

.rotate-180 {
  transform: rotate(180deg);
}

.sidebar.sidebar-collapsed {
  transition: all .5s ease-in-out;
  width: 50px;
}

.sidebar.sidebar-full {
  transition: all .5s ease-in-out;
  width: 330px;
}

.d-none {
  transition: all .5s ease-in-out;
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: block;
}

@media screen and (max-width: 1200px) {
  .action-buttons .ant-btn {
    margin: .5rem 0;
  }

}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .header-sort {
    display: block;
  }

  .section-sort {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .section-sort {
    display: block;
  }

  .order-by {
    margin-left: 0;
  }
}