@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto Condensed' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;


}

.App {
  transition: all 2s ease-in-out !important;
}


[class^="ant-form"],
[class*=" ant-form"] {
  font-family: 'Roboto Condensed' !important;
}


.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #ff4d4f;
}

.ant-slider .ant-slider-track {
  background-color: #ff452d;
}

.ant-slider:hover .ant-slider-track {
  background-color: #ff452d;
}

.ant-slider:hover .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #ff4d4f;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.ant-form-vertical .ant-form-item-label>label {
  width: 100%;
}

.ant-menu-light {
  color: rgba(0, 0, 0, 0.88);
  background: transparent;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #ff4d4f;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
  border-bottom-color: #ff4d4f;
}

.ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
.ant-menu-light .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
  color: #ff4d4f;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after {
  border-bottom-width: 2px;
  border-bottom-color: #ff4d4f;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-active .ant-menu-title-content {
  color: #ff4d4f;
}

.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu {
  padding-inline: 35px;
}

.ant-menu-item,
.ant-btn {
  font-family: 'Roboto Condensed' !important;
}

.ant-menu-title-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

}

.ant-btn-primary {
  color: #fff;
  background-color: #d9363e;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

.ant-badge .ant-badge-multiple-words {
  padding: 0 15px;
  color: #333;
  font-size: 14px;
  height: 33px;
  line-height: 33px;
  border-radius: 50px;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: #f5222d;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #f5222d;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper:hover {
  color: #f5222d;
  border-color: #f5222d;
}

.jobs .ant-card {
  margin-bottom: 1rem;
}

.jobs .ant-card .ant-card-body {
  padding-top: 14px;
}

.jobs .ant-card .ant-card-head {
  min-height: 50px;
}